.navbar-nav .nav-link {
    color: rgb(253, 4, 4) !important;
}

.navbar-nav .nav-link:hover {
    color: #c41004!important;
}

body {
    font-family: 'Libre+Baskerville', serif;
}

#blogtitle {
    font-size: 6rem;
}

@media (min-width: 992px) {
    #hometext {
        font-size: 4rem;
    }
    #blogdetailtitle {
        font-size: 5rem;
    }
}